{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>
    {% for value in content %}
        <p>{{value}}</p>
    {% endfor %}
    <div id="weather-icon"><span class="weather-icon"><img src="http://openweathermap.org/img/wn/{{ items.icon }}.png" /></span>{{ items.description }}</div>
    <div class="weather-city">{{ items.city }}</div>
    <div class="weather-country">{{ items.country }}</div>
    <div class="weather-temp">{{ items.temp }}</div>
</div>
